/* ######################### */
.stApp {
    background: url("https://storage.googleapis.com/bitcoin_images_storage/Desktop.png");
    background-size: cover
}

.main{
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.3) 10%, 
    rgba(0,0,0, 0.4) 20%, 
    rgba(0,0,0, 0.5) 30%, 
    rgba(0,0,0, 0.6) 40%, 
    rgba(0,0,0, 0.6) 50%, 
    rgba(0,0,0, 0.6) 60%, 
    rgba(0,0,0, 0.6) 70%, 
    rgba(0,0,0, 0.5) 80% , 
    rgba(0,0,0, 0.4) 90% , 
    rgba(0,0,0, 0.3) 100%);
  }
  .google-form-button{
    color: white !important;
    display: block;
    text-align: center;
    font-size: 1.8vh;
    width: 18vh;
    padding: 1vh;
    margin: auto;
    border : 0.3vh white solid 
  }
  .google-form-button:link{
    text-decoration: none;
  } 
  .google-form-button:visited{
    text-decoration: none;
  } 
  /* ####################### */