/* ######################### */
.stApp {
    background: url("https://storage.googleapis.com/bitcoin_images_storage/Desktop.png");
    background-size: cover
}

.main{
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.3) 10%, 
    rgba(0,0,0, 0.4) 20%, 
    rgba(0,0,0, 0.5) 30%, 
    rgba(0,0,0, 0.6) 40%, 
    rgba(0,0,0, 0.6) 50%, 
    rgba(0,0,0, 0.6) 60%, 
    rgba(0,0,0, 0.6) 70%, 
    rgba(0,0,0, 0.5) 80% , 
    rgba(0,0,0, 0.4) 90% , 
    rgba(0,0,0, 0.3) 100%);
  }
  .google-form-button{
    color: white !important;
    display: block;
    text-align: center;
    font-size: 1.8vh;
    width: 18vh;
    padding: 1vh;
    margin: auto;
    border : 0.3vh white solid 
  }
  .google-form-button:link{
    text-decoration: none;
  } 
  .google-form-button:visited{
    text-decoration: none;
  } 
  .btn-footer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  .google-form-button {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .e16nr0p33 {
    font-family: neon;
    color:white;
    font-size: 9vh;
    line-height: 9vw;
    text-shadow: 0 0 2vw yellow;
  }
  
  .e16nr0p33 {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes google-form-button {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .e16nr0p33 {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes e16nr0p33 {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  
  
  
  
  /* ####################### */