.vscode
Web_Part/models/beautygan/weights/checkpoint
Web_Part/models/beautygan/weights/model.data-00000-of-00001
Web_Part/models/beautygan/weights/model.index
Web_Part/models/beautygan/weights/model.meta
Web_Part/models/efficientnet/weights/efficientnet_b4_epoch_28_180.pt
Web_Part/models/efficientnet/weights/efficientnet_b4_epoch_28.pt
Web_Part/models/efficientnet/weights/efficientnet_b7_epoch_20.pt
Web_Part/classification_fastapi/epoch_20.pt
Web_Part/models/beautygan/__pycache__
Web_Part/models/efficientnet/__pycache__
Web_Part/front_streamlit/__pycache__
Web_Part/back_fastapi/app/__pycache__
Web_Part/frontend/__pycache__
Web_Part/back_fastapi/app/routers/__pycache__
Web_Part/__pycache__
Web_Part/online_service_logger.json
Web_Part/log/info.log
Web_Part/feedback/figures_feedback_analysis
Web_Part/log/info.log