absl-py==1.0.0
albumentations==1.1.0
altair==4.1.0
anyio==3.6.1
argon2-cffi==21.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
astor==0.8.1
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.11.1
black==22.3.0
bleach==4.1.0
blinker==1.4
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.0
cmake==3.22.4
cycler==0.10.0
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
dlib @ file:///home/conda/feedstock_root/build_artifacts/dlib_1652035094040/work
efficientnet-pytorch==0.7.1
entrypoints==0.3
fastapi==0.78.0
fastjsonschema==2.15.3
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.20
google-pasta==0.2.0
grpcio==1.46.1
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
idna==3.3
imageio==2.9.0
importlib-metadata==4.8.1
importlib-resources==5.7.1
ipykernel==5.5.6
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.0.0
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.8
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.5
numpy==1.21.6
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.2
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.7.0
pyarrow==6.0.0
pycparser==2.21
pydantic==1.7.4
pydeck==0.6.2
Pygments==2.10.0
Pympler==0.9
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
qudida==0.0.4
requests==2.26.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.19.1
streamlit==1.2.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2020.9.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==1.9.1
torchvision==0.10.1
tornado==6.1
traitlets==4.3.3
typed-ast==1.5.3
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.7
uvicorn==0.17.6
validators==0.18.2
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.5.2
wrapt==1.14.1
zipp==3.8.0
