cmake==3.22.4
fastapi==0.78.0
google-api-python-client==2.48.0
google-auth-oauthlib==0.5.1
google-cloud-storage==2.3.0
insightface==0.6.2
onnxruntime==1.11.1
opencv-python==4.5.1.48
pip==22.1
python-multipart==0.0.5
streamlit==1.1.0
tensorflow==1.15.0
torchvision==0.11.1
uvicorn==0.17.6

google-cloud-bigquery==3.1.0
python-json-logger==2.0.2